@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
footer {
  background-color: rgb(245, 212, 66);
}
.links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 17px;
}

a {
  text-decoration: none;
  padding-bottom: 10px;
}

.links li a:hover {
  color: cyan;
  transition: ease;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links li a:hover {
  color: cyan;
  transition: ease;
}

li {
  margin: 1%;
  flex-wrap: wrap;
}

p {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
