* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0%;
}

.navbar {
  background-color: slateblue;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-decoration: none;
}
h1 {
  font-size: 40px;
  padding: 20px;
  display: inline;
}
.navbar-links li {
  list-style: none;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 20px;
}

.navbar-links li a:hover {
  color: #555;
}
.hamburger {
  /* position: absolute; */
  /* display: flex;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-end; */
  /* top: 0;
  right: 0; */

  position: absolute;
  top: 0.7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.hamburger .bar {
  width: 35px;
  height: 5px;
  background-color: white;
  border-radius: 14px;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
